.hero {
    background-color: #2F303A;;
   padding-top: 118px;
   padding-bottom: 118px;
   @media screen and (min-width:1200px) {
      padding-top: 200px;
   padding-bottom: 200px; 
   }
   text-align: center;
   background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herotitle-mob.jpg);
background-repeat: no-repeat;

background-size: cover;
min-width: 100%;
margin: 0 auto;

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
   background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herotitle-mob-2x.jpg);
  }
 @media screen and (min-width:768px) {
   background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herotitle-tab.jpg);   
 @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herotitle-tab-2x.jpg);
  }
}
@media screen and (min-width:1200px) {
 background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herotitle.jpg);   
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herotitle-2x.jpg);
  }
}

}
.hero__title {
     @include font (26px, 1.61, 900, 0.06em);
     @media screen and (min-width:1200px) {
        @include font (44px, 1.36, 900, 0.06em); 
     }
    text-transform: uppercase;
    color: #FFFFFF;
   
  width: 360px;


 @media screen and (min-width:1200px) {
  width: 696px;
 }

    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: var(--typical-margin);
    
}
.hero__btn {
    border: none;
    min-width: 200px;
    height: 50px;
    font-family: inherit;
     @include font (16px, 1.88, 700, 0.06em);
    border-radius: 4px;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: var(--acent-color);
    margin: 0 auto;
    display: block;
    &:hover, &:focus {
    color: #FFFFFF;
    background-color : var(--acent-color);
}
}


